<!-- Sản phẩm nổi bật -->
<section class="products container mt-5">
    <h1 class="main_title">SẢN PHẨM ĐANG HOT <i class="fa fa-fire" style="color: red;"></i></h1>
    <div class="owl-carousel owl-theme mt-3">
        <div class="item">
            <div class="item__content">
                <img src="~/app/img/coffee/capuccino.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Capoccinno</a>
                <span>$100</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/coffee/mocha.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Mocha</a>
                <span>$199</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/coffee/espresso.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Espresso</a>
                <span>$89</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/coffee/macchiato.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Latte Macchiato</a>
                <span>$149</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/coffee/chessecake.jpeg" alt="">
                <div class="item__content__hover">
                    <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Chesse Cake</a>
                <span>$89</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/coffee/tiramisu.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Tiramisu</a>
                <span>$100</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/coffee/bfcake.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Black Forest</a>
                <span>$59</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/coffee/mochi.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Mochi</a>
                <span>$29</span>
            </div>
        </div>
    </div>
</section>
