.banner{
    position: relative;
    width: 100%;
    padding: 3.125rem 0 ;
    background: rgba($color: #fff, $alpha:0.2);
    @include breakpoints-down(medium){
           flex-direction: column; 
    }
    &__text{
        max-width: 31.25rem;
        text-align: center;
        color: #fff;
        p {
            font-size:$fs-sm ;
            i{
                font-size: $fs-sm;
            }
        }
        .author{
            display: block;
            font-style: italic;
            color: $cl-blue;
            font-weight: bold;
            
        }
        @include breakpoints-down(medium){
            z-index: 3;
            font-size: $fs-md;
        }
    }

    &__img{
        position: relative;
        border-radius: 30px;
        background-image: url('../../img/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 28rem;
        min-width: 38rem;
        cursor: pointer;
        box-shadow: 10px 10px 20px 2px $cl-gray,
        -10px -10px 20px 2px $cl-gray;
        @include breakpoints-down(medium){
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-width: 100%;
            border-radius: 0;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba($color: rgb(0, 0, 0), $alpha: 0.8);
                box-shadow: 0 10px 8px 2px $cl-gray;
                z-index: 2;
            }
        }
    }
}