footer{
    font-size: 14px;
    width: 100%;
    flex-direction: column;
    color: #fff;
    background: rgba($color: #000000, $alpha: 0.6);
    padding-bottom: 2rem;
    .footer__main{
        width: 100%;
        @include breakpoints-down(medium){
            flex-direction: column;
            text-align: center;
        }
            padding: 2rem 0;
            .col{
                h2{
                    padding: 20px;
                }
                li{
                    padding: 20px 0 5px 0;
                    border-bottom: 3px solid $cl-blue;

                    i{
                        margin-right: 10px;
                    }
                }
            }
    }
    .footer__cp{
        text-shadow: 2px 2px 5px $cl-gray;
    }
}