html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a,a:visited,a:hover{
    text-decoration: none;
}

ul,li{
    list-style-type: none;
}

body{
  background: url('../../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  overflow-x: hidden;
  @include breakpoints-up(large){
    font-size: $fs-sm;
  }
  

}

.container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.flex{
    display: flex;
    // Justify-content
    &.jc-c{
        justify-content: center;
    }
    &.jc-sb{
        justify-content: space-between;
    }
    &.jc-sa{
        justify-content: space-around;
    }
    // Align-items
    &.ai-c{
        align-items: center;
    }
}

//Margin
.mt-5{
    margin-top: 100px;
}
.mt-4{
    margin-top: 70px;
}
.mt-3{
    margin-top: 50px;
}
//Buttons

.button{
    display: inline-block;
    margin-top: 10px;
    font-size: $fs-md;
    padding: 1rem 1.5rem;
    outline: none;
    font-weight: 600;
    border:3px solid $cl-blue;
    border-radius: 40px;
    color: #fff;
    transition: all 0.4s;
    &:hover{
        background: linear-gradient(to right,$cl-blue,rgb(49, 62, 177));
        color: #fff;
    }
}

.btn-detail{
    display: block;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background: $cl-blue;
    color: #fff;
    outline: none;
    border-radius: 20px;
}

.title{
    font-size: $fs-lg;
    font-weight: 800;
}

.main_title{
    width: 100%;
    text-align: center;
    font-weight: 200;
    font-size: $fs-xlg;
    background: url('../../img/crossword.png') repeat $cl-blue;
    padding: 3rem;
    color: #fff;
    @include breakpoints-down(small){
        font-size: $fs-md;
    }
}


.hide-for-mobile{
    @include breakpoints-down(medium){
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoints-up(large){
        display: none;
    }
}