.history {
  width: 100%;
  tr {
    border-bottom: 1px solid $cl-gray;
  }
  th {
    color: rgb(68, 68, 68);
    text-align: left;
    padding: 1rem 0;
  }
  td {
    &.susscess {
      color: green;
    }
    &.pending {
      color: blue;
    }
  }
}
