.products{
    width: 100%;
    .owl-carousel{
        width: 100%;
    }
    .item{
        height: 250px;
        width: 200px;
        .item__content{
            position: relative;
            height: 100%;
            width: 100%;
            &__hover{
                font-size: 1rem;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.4s;
                overflow: hidden;
                .cart{
                  position: absolute;
                  top: -25%;
                  transform: translateX(12%);
                  transition: all 0.4s;
                  
                }
                .detail{
                    position: absolute;
                    bottom: -25%;
                    transform: translateX(12%);
                     transition: all 0.4s;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -100%;
                    height: 100%;
                    width: 100%;
                    background: rgba($color: #000000, $alpha: 0.6);
                    transition: all 0.5s;
                }
                &:hover{
                    .cart{
                        top: 30%;
                      }
                      .detail{
                        bottom: 30%;
                      }
                    &::before{
                        left: 0;
                    }
                }
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            
            
        }
        &__details{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 200px;
            color: #fff;
            background: rgba($color: #000000, $alpha: 0.6);
            padding: 5px;
            a{
                display: block;
                font-size: $fs-md;
                color: #fff;
            }
        }
    }
}
.owl-nav{
    margin-top: 50px !important;
    button{
        height: 50px;
        width: 50px;
        border-radius: 50% !important;
        background: $cl-blue !important;
        outline: none !important;
        &:hover{
            background: #0055cc !important;
        }
        span{
            font-size: $fs-lg;
            color: #fff !important; 
            line-height: 25px;
        }
    }
}
.owl-stage-outer{
    width: 95%;
    margin: 0 auto;
}
