@using ProjectCCS.Models
@{
    ViewBag.Title = "HistoryCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Dashbroad for user -->
<section class="user history-main container flex">
    @Html.Partial("~/Views/Shared/_NavigationBar.cshtml")
    <div class="content">
        <!-- 75% -->
        <h3>Lịch sử mua hàng</h3>

        <table class="history">
            <tr>
                <td>41251232</td>
                <td>19/03/2021</td>
                <td>Mocha x4</td>
                <td>2.000.000 <sup>đ</sup></td>
                <td class="susscess">Thành công</td>
            </tr>
        </table>
    </div>
</section>

