
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Categouries and product section -->
<h1 class="main_title">COFFEE & CAKES<i class="fa fa-fire" style="color: red;"></i></h1>
<section class="list_products flex container">
    <div class="left-side">
        <!-- Contain Categories 25%-->\
        <h3>Danh mục</h3>
        <ul>
            <li><a href="#">BÁNH NGỌT</a></li>
            <li><a href="#">COFFEE</a></li>
            <!-- Qua kem theo su kien -->
            <li class="cate">
                <a href="#">QUÀ</a>

            </li>
            <!-- Banh kem theo su kien -->
            <li class="cate">
                <a href="#">BÁNH KEM</a>

            </li>
        </ul>
    </div>
    <div class="right-side">
        <!-- Contains products 75% -->
        <div class="products__container">
            <div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/capuccino.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Capoccinno</a>
                    <span>$100</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/mocha.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Mocha</a>
                    <span>$199</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/espresso.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Espresso</a>
                    <span>$89</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/macchiato.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Latte Macchiato</a>
                    <span>$149</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/chessecake.jpeg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Chesse Cake</a>
                    <span>$89</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/tiramisu.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Tiramisu</a>
                    <span>$100</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/bfcake.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Black Forest</a>
                    <span>$59</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/mochi.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Mochi</a>
                    <span>$29</span>
                </div>
            </div>
            <div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/capuccino.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Capoccinno</a>
                    <span>$100</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/mocha.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Mocha</a>
                    <span>$199</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/espresso.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Espresso</a>
                    <span>$89</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/macchiato.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Latte Macchiato</a>
                    <span>$149</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/chessecake.jpeg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Chesse Cake</a>
                    <span>$89</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/tiramisu.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Tiramisu</a>
                    <span>$100</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/bfcake.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Black Forest</a>
                    <span>$59</span>
                </div>
            </div><div class="item-product">
                <div class="item__content">
                    <img src="~/app/img/coffee/mochi.jpg" alt="">
                    <div class="item__content__hover">
                        <a href="" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                        <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    </div>
                </div>
                <div class="item-product__details">
                    <a href="/">Mochi</a>
                    <span>$29</span>
                </div>
            </div>
        </div>
    </div>
</section>


@Html.Partial("~/Views/Shared/_HotProduct.cshtml");