@model IEnumerable<Project_CCS.Models.Product>
@{
    ViewBag.Title = "productManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="admin container flex">
    <div class="nav">
        <!-- 25% -->
        <h4 class="name-user">Chào Huy </h4>
        <ul>
            <li><i class="fa fa-user-circle" aria-hidden="true"></i><a href="#">Thông tin tài khoản</a></li>
            <li><i class="fa fa-history"></i><a href="">Lịch sử mua hàng</a></li>
            <li><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><a href="giohang.html">Giỏ hàng</a></li>
            <li><i class="fa fa-key"></i><a href="/user-doimk.html">Đổi mật khẩu</a></li>
            <li><i class="fa fa-users-cog"></i><a href="/">Quản lý người dùng</a></li>
            <li><i class="fab fa-product-hunt"></i><a href="/Home/productManager">Quản lý sản phẩm</a></li>
        </ul>
    </div>
    <div class="content" style="overflow-y: scroll;">
        <!-- 75% -->
        <div class="nav-menu">
            <h3>Quản lý sản phẩm</h3>
            <form action="./manager-products.html" class="searchBox">
                <input type="text" id="searchProducts" name="txtSearch">
                <button type="submit">Tìm</button>
            </form>
            <a class="delete" href=""><i class="fa fa-trash"></i>Delete</a>
            <a href="#" id="openModal"><i class="fa fa-plus-circle"></i>Add</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" name="id" id="checkAll"></th>
                    <th>ID</th>
                    <th>Tên SP</th>
                    <th>Hình ảnh</th>
                    <th>Đơn giá</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in (IEnumerable < Project_CCS.Models.Product>) Model) {
                <tr>
                    <td><input type="checkbox" name="id" value="1"></td>
                    <td>@product.id</td>
                    <td>@product.name</td>
                    <td>
                        <div class="imgBox">
                            <img src="@product.image" alt="">
                        </div>
                    </td>
                    <td>@product.price <sup>đ</sup></td>
                    <td>
                        <div class="iconBox">
                            <a href="/Home/deleteProduct/@product.id"><i class="fa fa-trash"></i></a>
                            <a href="/Home/editProduct/@product.id"><i class="check fa fa-wrench"></i></a>
                        </div>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</section>

<div class="modal" id="modal">
    <div class="modal__header flex jc-sb ai-c">
        <h2>Add products</h2>
        <a class="exit" href="#"><i class="fa fa-times"></i></a>
    </div>
    <div class="modal__body">
        <form action="">
            <div class="groupBox">
                <label for="">Tên sản phẩm:</label>
                <input type="text">
            </div>
            <div class="groupBox">
                <label for="">Giá sản phẩm:</label>
                <input type="text">
            </div>
            <div class="groupBox">
                <label for="">Danh mục:</label>
                <select name="" id="">
                    <option value="">Bánh kem</option>
                    <option value="">Bánh ngọt</option>
                    <option value="">Coffee</option>
                    <option value="">Quà</option>
                </select>
            </div>
            <div class="groupBox">
                <label for="">Hình ảnh:</label>
                <input type="file" name="" id="fileUpload" accept="image/png, image/jpeg">
            </div>
            <div class="groupBox">
                <img src="~/app/img/coffee/capuccino.jpg" alt="" id="demo-image">
            </div>
        </form>
    </div>
    <div class="modal__footer">
        <a href="#" id="openModal"><i class="fa fa-plus-circle"></i>Add</a>
    </div>
</div>

