
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="giohang container flex mt-3">
    <div class="list">
        <!-- 70% -->
        <h2 class="main_title">Giỏ hàng</h2>
        <div class="list__content">
            <div class="item">
                <div class="imgBox">
                    <img src="~/app/img/coffee/mochi.jpg" alt="">
                </div>
                <div class="item__details">
                    <div class="detailBox">
                        <h3>Mochi</h3>
                        <p class="price">145.000 <sup>đ</sup></p>
                    </div>
                    <div class="inputBox">
                        <input type="button" value="-">
                        <input type="number" value="1" min="1">
                        <input type="button" value="+">
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-times-circle"></i>
                        <i class=" check fa fa-check"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="imgBox">
                    <img src="~/app/img/coffee/mochi.jpg" alt="">
                </div>
                <div class="item__details">
                    <div class="detailBox">
                        <h3>Mochi</h3>
                        <p class="price">145.000 <sup>đ</sup></p>
                    </div>
                    <div class="inputBox">
                        <input type="button" value="-">
                        <input type="number" value="1" min="1">
                        <input type="button" value="+">
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-times-circle"></i>
                        <i class=" check fa fa-check"></i>
                    </div>
                </div>
            </div><div class="item">
                <div class="imgBox">
                    <img src="~/app/img/coffee/mochi.jpg" alt="">
                </div>
                <div class="item__details">
                    <div class="detailBox">
                        <h3>Mochi</h3>
                        <p class="price">145.000 <sup>đ</sup></p>
                    </div>
                    <div class="inputBox">
                        <input type="button" value="-">
                        <input type="number" value="1" min="1">
                        <input type="button" value="+">
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-times-circle"></i>
                        <i class=" check fa fa-check"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="checkout">
        <!-- 30% -->
        <h2 class="main_title">Thông tin thanh toán</h2>
        <div class="list__checkout">
            <h3>Địa chỉ thanh toán:</h3>
            <p>32 Nguyễn Thị Kiểu, Hiệp Thành, Quận 12, Thành phố Hồ Chí Minh, Phường Hiệp Thành, Quận 12, Hồ Chí Minh Việt Nam</p>
            <p>Mochi <span>X10</span>: 1.450.000 <sup>đ</sup></p>
            <p>Mochi <span>X10</span>: 1.450.000 <sup>đ</sup></p>
            <p>Mochi <span>X10</span>: 1.450.000 <sup>đ</sup></p>
            <p>Mochi <span>X10</span>: 1.450.000 <sup>đ</sup></p>
            <p>Mochi <span>X10</span>: 1.450.000 <sup>đ</sup></p>
        </div>
        <div class="footer__checkout">
            <h2>Thành tiền: 7.100.000 <sup>đ</sup></h2>
            <a href="" class="thanhToan">Thanh toán</a>
        </div>
    </div>
</section>
